.content_banner{
    height: 45vh;
    background-size: cover;
    

}
.contain_banner{
    height:80%;

    p{
        font-size:1.3rem;
        font-weight: 600;
        padding-bottom:5%;
        
    }
    a.btn-fotograf{
        font-size:1.3rem;
        font-weight: 640;
    }
}

@media screen and (min-width: 540px) {
    .content_banner {
      height:60vh;
    }
    
  }
  @media screen and (min-width: 768px) {
    .content_banner {
      height:80vh;
      padding-top:10%;
      padding-right:15%;
    }
  }